body {
	margin: 0px;
	padding: 0px;
	background-image: url('../images/background3.jpg'); 
	overflow:auto; 			 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.../images/background.png', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/background.png', sizingMethod='scale')";
	-webkit-text-size-adjust: none;
	 overflow-x: hidden;
}

h1{font-family: 'Playfair Display', serif; font-size: 25px; color: #C30000; text-shadow: 1px 1px 1px black; font-family: 'Roboto Condensed', sans-serif; text-align: left;}

h2{
	text-shadow: 1px 1px 1px black; 
	font-family: 'Roboto Condensed', sans-serif;
	font-size:20px;
	color: #C30000;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	margin-bottom: 2px;
}

h3{}

p{font-family: 'Oxygen', sans-serif; font-size: small; font-weight: normal; text-align: left;}

#pagewrap {
	padding: 0px;
	margin: 0px;
	width: 100%;
	margin: auto;
}

/****header****/
.logo span{display: none;}
.valentine span{display: none;}
.top-left span{display: none;}

/*  SECTIONS  */
.section{
	clear: both;
	padding: 0px;
	margin: 0px;
	margin: auto;
}

img{max-width: 100%;}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 0% 0% 0% 0%;
	margin: 3px;
	padding: 0px;
}
.col:first-child { margin-left: 0;}

/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}

/*  GRID OF THREE  */
.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 66.1%;
}
.span_1_of_3 {
	width: 32.2%;
}

#header{
	border: 0px solid black;
	margin: auto;
	text-align: center;
	padding: 6px;
	padding-top: 20px;
}

.logo{
	display: inline-block; 
	vertical-align: top;
	margin-right: 55px;
}

.top-left{
	display: inline-block; 
	vertical-align: top; 
	float: left;
}

.top-right{
	display: inline-block; 
	vertical-align: top; 
	float: right;
}

#reserve-now{display: none;}
/****header****/

/****navigation****/
ul.underlinemenu{
margin: 0;
margin-bottom:1em;
padding: 0;
list-style: none;
position:relative;
text-align: center; /*set value to "left", "center", or "right"*/

}

ul.underlinemenu li{
display: inline;
}

ul.underlinemenu li a{
font: bold 13px Arial, Verdana, sans-serif;
color: #452407;
padding: 5px;
margin-right: 20px; /*spacing between each menu link*/
text-decoration: none;
}


ul.underlinemenu li.active{ /*style of LI that gets dynamically added to menu to create background effect*/
position:absolute;
width:0;
border-bottom: 3px solid red;
}
/****navigation****/

/****slideshow****/
ul.bjqs-controls.v-centered li a{
	display:none;
	padding:0px;
	/*background:#fff;*/
	color:#000;
	text-decoration: none;
}
/****slideshow****/

/****homepage****/
.homepage-box{
	border: 0px solid black;
	margin: auto;
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}
/****homepage****/

/****Menu****/
.menu-table{
	text-align: left;
}

.menu-block{
	border: 0px solid black;
	text-align: center;
	padding: 6px;
	display: inline;
	background: #7e501f;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.menu-link{
	text-decoration: none;
	font-family: 'Oxygen', sans-serif;
	color: white;
	font-size: 13px;
}

.menu-block-des{
	border: 1px solid black;
	padding: 6px;
	background: #C30000;
	color: white;
	text-align: left;
	font-family: 'Oxygen', sans-serif;
	font-size: 13px;
}


.menu-link-menus{
	text-decoration: none;
	font-family: 'Oxygen', sans-serif;
	color: black;
	font-size: 13px;
}

.menu-table-menus{
	font-family: 'Oxygen', sans-serif;
	color: black;
	font-size: 13px;
}
/****Menu****/

#content{
	width: 980px;
	margin: auto;
	text-align: center;
}

/****footer****/
#footer{
	width:100%;
	height:auto;
	margin:0px auto;
	-webkit-box-shadow: 0 8px 10px -8px black;
	-moz-box-shadow: 0 8px 10px -8px black;
	box-shadow: 0 8px 10px -8px black;
	/*background: url('../images/pattern.png');*/
	clear: both;
}

#footer1{
	margin: auto;
	text-align: center; 
}

.sub-title{	
	font-family: 'Playfair Display', 
	serif; 
	font-size: 18px; 
	color: #C30000; 
	text-shadow: 1px 1px 1px black; 
	font-family: 'Roboto Condensed', 
	sans-serif; 
	text-align: left;
}
/****footer****/